In [2]:
pip install numpy pandas

Requirement already satisfied: numpy in c:\users\roman\anaconda3\lib\site-packages (2.2.5)
Requirement already satisfied: pandas in c:\users\roman\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\roman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [46]:
import numpy as np
import pandas as pd

In [47]:
# Ejemplo del uso de diferentes tipos de datos en Python

# 1. N√∫meros (enteros y flotantes)
numero_entero = 42  # Un n√∫mero entero
numero_flotante = 3.14  # Un n√∫mero flotante

# 2. Cadenas de caracteres
cadena = "Hola, mundo!"  # Una cadena de texto

# 3. Listas
lista_numeros = [1, 2, 3, 4, 5]  # Una lista de n√∫meros
lista_cadenas = ["manzana", "banana", "cereza"]  # Una lista de cadenas

# 4. Diccionarios
diccionario = {
    "nombre": "Juan",
    "edad": 30,
    "ciudad": "Madrid"
}  # Un diccionario que relaciona claves con valores

# 5. Tipo booleano
es_mayor_de_edad = True  # Un valor booleano que indica si alguien es mayor de edad

# 6. Tuplas
tupla_puntos = (10, 20)  # Una tupla que contiene coordenadas (x, y)

# 7. Conjuntos
conjunto_frutas = {"manzana", "banana", "cereza"}  # Un conjunto de frutas (sin duplicados)

# Ejemplo de impresi√≥n formateada usando todos los tipos de datos
print(f"Ejemplo de tipos de datos en Python:")
print(f"N√∫mero entero: {numero_entero}")
print(f"N√∫mero flotante: {numero_flotante:.2f}")  # Formato con 2 decimales
print(f"Cadenas: {cadena}")
print(f"Lista de n√∫meros: {lista_numeros}")
print(f"Lista de cadenas: {lista_cadenas}")
print(f"Diccionario: {diccionario}")
print(f"¬øEs mayor de edad? {'S√≠' if es_mayor_de_edad else 'No'}")
print(f"Puntos en la tupla: {tupla_puntos}")
print(f"Conjunto de frutas: {conjunto_frutas}")

# Usando los datos en una operaci√≥n
suma_lista = sum(lista_numeros)  # Sumar todos los elementos de la lista
print(f"Suma de la lista de n√∫meros: {suma_lista}")

Ejemplo de tipos de datos en Python:
N√∫mero entero: 42
N√∫mero flotante: 3.14
Cadenas: Hola, mundo!
Lista de n√∫meros: [1, 2, 3, 4, 5]
Lista de cadenas: ['manzana', 'banana', 'cereza']
Diccionario: {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}
¬øEs mayor de edad? S√≠
Puntos en la tupla: (10, 20)
Conjunto de frutas: {'cereza', 'manzana', 'banana'}
Suma de la lista de n√∫meros: 15

In [48]:
# Lista de n√∫meros que se convertir√° en un array
lista = [1, 2, 3, 4, 5]  # Lista original

# Convertir la lista a un array de NumPy
array = np.array(lista)  # Crear un array a partir de la lista

# Imprimir el array resultante
print("Array de NumPy:", array)

# Operaciones con el array
# 1. Sumar un valor a cada elemento del array
array_sumado = array + 10  # Sumar 10 a cada elemento
print("Array despu√©s de sumar 10:", array_sumado)

# 2. Multiplicar cada elemento del array por un valor
array_multiplicado = array * 2  # Multiplicar por 2
print("Array despu√©s de multiplicar por 2:", array_multiplicado)

# 3. Calcular la media del array
media = np.mean(array)  # Calcular la media
print("Media del array:", media)

# 4. Filtrar elementos mayores que un valor
filtro = array[array > 3]  # Filtrar elementos mayores que 3
print("Elementos del array mayores que 3:", filtro)

# 5. Cambiar la forma del array (reshape)
array_reshaped = array.reshape((5, 1))  # Cambiar la forma del array a una columna
print("Array reshaped (5x1):\n", array_reshaped)

Array de NumPy: [1 2 3 4 5]
Array despu√©s de sumar 10: [11 12 13 14 15]
Array despu√©s de multiplicar por 2: [ 2  4  6  8 10]
Media del array: 3.0
Elementos del array mayores que 3: [4 5]
Array reshaped (5x1):
 [[1]
 [2]
 [3]
 [4]
 [5]]

In [49]:
diccionario1 = {'A':[1,2,3], 'B':[4,5,6], 'C':[7,8,9]}
dataframe1 = pd.DataFrame(diccionario1)

In [50]:
dataframe1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [51]:
diccionario2 = {'A':[11,12,13], 'B':[14,15,16], 'C':[17,18,19]}
dataframe2 = pd.DataFrame(diccionario2)

In [52]:
dataframe2

    A   B   C
0  11  14  17
1  12  15  18
2  13  16  19

In [53]:
diccionario3 = {
    'dias': ["Lunes", "Martes", "Martes", "Lunes", "Miercoles"],
    'numero': [14, 15, 16, 7, 8],
    'tiempo': ["ma√±ana", "ma√±ana", "ma√±ana", "tarde", "tarde"]
}
dataframe3 = pd.DataFrame(diccionario3)

In [54]:
dataframe3

        dias  numero  tiempo
0      Lunes      14  ma√±ana
1     Martes      15  ma√±ana
2     Martes      16  ma√±ana
3      Lunes       7   tarde
4  Miercoles       8   tarde

In [55]:
pd.concat([dataframe1,dataframe2])

    A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
0  11  14  17
1  12  15  18
2  13  16  19

In [56]:
dataframe3.groupby("dias")["numero"].mean()

dias
Lunes        10.5
Martes       15.5
Miercoles     8.0
Name: numero, dtype: float64

### üìö Bibliotecas Fundamentales en Python para Ciencia de Datos

- **NumPy**  
  NumPy ofrece un tipo de colecci√≥n de datos muy eficiente llamado `array` (o `ndarray`). Este tipo de estructura permite trabajar con vectores y matrices de forma r√°pida y optimizada. Es ideal para operaciones matem√°ticas y de √°lgebra lineal, estad√≠sticas, y transformaciones num√©ricas. Es la base sobre la que se construyen muchas otras bibliotecas cient√≠ficas en Python.

- **Pandas**  
  Pandas se apoya internamente en NumPy y proporciona estructuras de datos de m√°s alto nivel, especialmente el `DataFrame`, que es una tabla bidimensional similar a una hoja de c√°lculo. Esta biblioteca permite cargar, limpiar, transformar, analizar y exportar datos con facilidad. Es una herramienta esencial para el an√°lisis y manipulaci√≥n de datos en Python.

- **Bibliotecas de visualizaci√≥n**  
  Para representar gr√°ficamente los datos de forma clara e informativa, se utilizan bibliotecas como:
  - `Matplotlib`: para gr√°ficos b√°sicos y personalizables (l√≠neas, barras, dispersi√≥n, etc.).
  - `Seaborn`: construida sobre Matplotlib, permite crear gr√°ficos estad√≠sticos atractivos con menos c√≥digo.
  - `Plotly`: permite generar visualizaciones interactivas √∫tiles en notebooks y dashboards web.

üìå Estas bibliotecas se usan juntas frecuentemente: NumPy para c√°lculos, Pandas para gestionar los datos y bibliotecas de visualizaci√≥n para mostrar los resultados de forma efectiva.

# -----------------------------------------------------------
# üéØ **Uso del operador * en funciones (args)**

El s√≠mbolo `*` antes de un par√°metro permite recibir **m√∫ltiples argumentos posicionales**.  
Estos se almacenan como una **tupla**, facilitando trabajar con cantidades variables de datos.

**Ejemplo Corregido: C√°lculo de Media**
```python
def calcular_media(*numeros):
    """Calcula la media de n√∫meros variables"""
    if not numeros:
        raise ValueError("¬°Debes ingresar al menos un n√∫mero!")
    
    suma = 0
    for n in numeros:  # Itera sobre la tupla 'numeros'
        suma += n
    return suma / len(numeros)

# Uso con 5 argumentos
print(calcular_media(15, 20, 25, 30, 35))  # Salida: 25.0

In [57]:
def calcular_media(*numeros):
    """Calcula la media aritm√©tica de una cantidad variable de n√∫meros"""
    if len(numeros) == 0:
        raise ValueError("Debes ingresar al menos un n√∫mero")
    
    suma = 0
    for n in numeros:
        suma += n
    return suma / len(numeros)

# Ejemplo de uso
resultado = calcular_media(15, 20, 25, 30, 35)
print(f"La media es: {resultado}")  # Salida: La media es: 25.0

La media es: 25.0

In [59]:
entrada = input("Ingresa n√∫meros separados por espacios: ")
lista_numeros = [float(n) for n in entrada.split()]
print(f"Media: {calcular_media(*lista_numeros)}")

Ingresa n√∫meros separados por espacios:  2 5 6 7

Media: 5.0

def agregar_elementos(*args) -> list:
    """Crea una lista con elementos variables"""
    lista = []
    for elemento in args:  # args es una tupla
        lista.append(elemento)
    return lista

print(agregar_elementos(10, "Hola", [1,2]))  # Salida: [10, 'Hola', [1, 2]]

In [60]:
def agregar_elementos(*args) -> list:
    """Recibe m√∫ltiples par√°metros y los agrega a una lista"""
    lista_resultado = []
    for elemento in args:
        lista_resultado.append(elemento)
    return lista_resultado

# Ejemplo de uso
mi_lista = agregar_elementos(10, "Hola", 3.14, True, [1, 2, 3])
print(mi_lista)
# Salida: [10, 'Hola', 3.14, True, [1, 2, 3]]

[10, 'Hola', 3.14, True, [1, 2, 3]]

entrada = input("Ingrese n√∫meros separados por espacios: ")
numeros = [float(n) for n in entrada.split()]

# Desempaqueta la lista al llamar a la funci√≥n
print(f"Media: {calcular_media(*numeros)}")

---
**Notas Adicionales**:  
- ‚ú® Usa `**kwargs` para par√°metros nombrados (doble asterisco)  
- ‚ö†Ô∏è Siempre coloca `*args` al final: `def func(a, b, *args)`  
- üìå Comb√≠nalo con par√°metros opcionales: `def func(param=0, *args)`  

Este formato mantiene una separaci√≥n visual clara entre secciones y explica cada concepto donde corresponde. ¬øNecesitas ajustar algo espec√≠fico? üòä