In [2]:
pip install numpy pandas

Requirement already satisfied: numpy in c:\users\roman\anaconda3\lib\site-packages (2.2.5)
Requirement already satisfied: pandas in c:\users\roman\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\roman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Ejemplo del uso de diferentes tipos de datos en Python

# 1. Números (enteros y flotantes)
numero_entero = 42  # Un número entero
numero_flotante = 3.14  # Un número flotante

# 2. Cadenas de caracteres
cadena = "Hola, mundo!"  # Una cadena de texto

# 3. Listas
lista_numeros = [1, 2, 3, 4, 5]  # Una lista de números
lista_cadenas = ["manzana", "banana", "cereza"]  # Una lista de cadenas

# 4. Diccionarios
diccionario = {
    "nombre": "Juan",
    "edad": 30,
    "ciudad": "Madrid"
}  # Un diccionario que relaciona claves con valores

# 5. Tipo booleano
es_mayor_de_edad = True  # Un valor booleano que indica si alguien es mayor de edad

# 6. Tuplas
tupla_puntos = (10, 20)  # Una tupla que contiene coordenadas (x, y)

# 7. Conjuntos
conjunto_frutas = {"manzana", "banana", "cereza"}  # Un conjunto de frutas (sin duplicados)

# Ejemplo de impresión formateada usando todos los tipos de datos
print(f"Ejemplo de tipos de datos en Python:")
print(f"Número entero: {numero_entero}")
print(f"Número flotante: {numero_flotante:.2f}")  # Formato con 2 decimales
print(f"Cadenas: {cadena}")
print(f"Lista de números: {lista_numeros}")
print(f"Lista de cadenas: {lista_cadenas}")
print(f"Diccionario: {diccionario}")
print(f"¿Es mayor de edad? {'Sí' if es_mayor_de_edad else 'No'}")
print(f"Puntos en la tupla: {tupla_puntos}")
print(f"Conjunto de frutas: {conjunto_frutas}")

# Usando los datos en una operación
suma_lista = sum(lista_numeros)  # Sumar todos los elementos de la lista
print(f"Suma de la lista de números: {suma_lista}")

Ejemplo de tipos de datos en Python:
Número entero: 42
Número flotante: 3.14
Cadenas: Hola, mundo!
Lista de números: [1, 2, 3, 4, 5]
Lista de cadenas: ['manzana', 'banana', 'cereza']
Diccionario: {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}
¿Es mayor de edad? Sí
Puntos en la tupla: (10, 20)
Conjunto de frutas: {'cereza', 'manzana', 'banana'}
Suma de la lista de números: 15

In [5]:
# Lista de números que se convertirá en un array
lista = [1, 2, 3, 4, 5]  # Lista original

# Convertir la lista a un array de NumPy
array = np.array(lista)  # Crear un array a partir de la lista

# Imprimir el array resultante
print("Array de NumPy:", array)

# Operaciones con el array
# 1. Sumar un valor a cada elemento del array
array_sumado = array + 10  # Sumar 10 a cada elemento
print("Array después de sumar 10:", array_sumado)

# 2. Multiplicar cada elemento del array por un valor
array_multiplicado = array * 2  # Multiplicar por 2
print("Array después de multiplicar por 2:", array_multiplicado)

# 3. Calcular la media del array
media = np.mean(array)  # Calcular la media
print("Media del array:", media)

# 4. Filtrar elementos mayores que un valor
filtro = array[array > 3]  # Filtrar elementos mayores que 3
print("Elementos del array mayores que 3:", filtro)

# 5. Cambiar la forma del array (reshape)
array_reshaped = array.reshape((5, 1))  # Cambiar la forma del array a una columna
print("Array reshaped (5x1):\n", array_reshaped)

Array de NumPy: [1 2 3 4 5]
Array después de sumar 10: [11 12 13 14 15]
Array después de multiplicar por 2: [ 2  4  6  8 10]
Media del array: 3.0
Elementos del array mayores que 3: [4 5]
Array reshaped (5x1):
 [[1]
 [2]
 [3]
 [4]
 [5]]

In [6]:
diccionario1 = {'A':[1,2,3], 'B':[4,5,6], 'C':[7,8,9]}
dataframe1 = pd.DataFrame(diccionario1)

In [7]:
diccionario2 = {'A':[11,12,13], 'B':[14,15,16], 'C':[17,18,19]}
dataframe2 = pd.DataFrame(diccionario2)

In [18]:
diccionario3 = {'dias':["Lunes","Martes","Martes", "Lunes", "Miercoles"], 'numero':[14,15,16,7,8], 'tiempo':["mañana","mañana","mañana", "tarde", "tarde"]}
dataframe3 = pd.DataFrame(diccionario3)

In [19]:
dataframe3

        dias  numero  tiempo
0      Lunes      14  mañana
1     Martes      15  mañana
2     Martes      16  mañana
3      Lunes       7   tarde
4  Miercoles       8   tarde

In [20]:
pd.concat([dataframe1,dataframe2])

     A    B    C       dias  numero  tiempo
0  1.0  4.0  7.0        NaN     NaN     NaN
1  2.0  5.0  8.0        NaN     NaN     NaN
2  3.0  6.0  9.0        NaN     NaN     NaN
0  NaN  NaN  NaN      Lunes    14.0  mañana
1  NaN  NaN  NaN     Martes    15.0  mañana
2  NaN  NaN  NaN     Martes    16.0  mañana
3  NaN  NaN  NaN      Lunes     7.0   tarde
4  NaN  NaN  NaN  Miercoles     8.0   tarde