In [2]:
pip install numpy pandas

Requirement already satisfied: numpy in c:\users\roman\anaconda3\lib\site-packages (2.2.5)
Requirement already satisfied: pandas in c:\users\roman\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\roman\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\roman\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd

In [24]:
# Ejemplo del uso de diferentes tipos de datos en Python

# 1. N칰meros (enteros y flotantes)
numero_entero = 42  # Un n칰mero entero
numero_flotante = 3.14  # Un n칰mero flotante

# 2. Cadenas de caracteres
cadena = "Hola, mundo!"  # Una cadena de texto

# 3. Listas
lista_numeros = [1, 2, 3, 4, 5]  # Una lista de n칰meros
lista_cadenas = ["manzana", "banana", "cereza"]  # Una lista de cadenas

# 4. Diccionarios
diccionario = {
    "nombre": "Juan",
    "edad": 30,
    "ciudad": "Madrid"
}  # Un diccionario que relaciona claves con valores

# 5. Tipo booleano
es_mayor_de_edad = True  # Un valor booleano que indica si alguien es mayor de edad

# 6. Tuplas
tupla_puntos = (10, 20)  # Una tupla que contiene coordenadas (x, y)

# 7. Conjuntos
conjunto_frutas = {"manzana", "banana", "cereza"}  # Un conjunto de frutas (sin duplicados)

# Ejemplo de impresi칩n formateada usando todos los tipos de datos
print(f"Ejemplo de tipos de datos en Python:")
print(f"N칰mero entero: {numero_entero}")
print(f"N칰mero flotante: {numero_flotante:.2f}")  # Formato con 2 decimales
print(f"Cadenas: {cadena}")
print(f"Lista de n칰meros: {lista_numeros}")
print(f"Lista de cadenas: {lista_cadenas}")
print(f"Diccionario: {diccionario}")
print(f"쮼s mayor de edad? {'S칤' if es_mayor_de_edad else 'No'}")
print(f"Puntos en la tupla: {tupla_puntos}")
print(f"Conjunto de frutas: {conjunto_frutas}")

# Usando los datos en una operaci칩n
suma_lista = sum(lista_numeros)  # Sumar todos los elementos de la lista
print(f"Suma de la lista de n칰meros: {suma_lista}")

Ejemplo de tipos de datos en Python:
N칰mero entero: 42
N칰mero flotante: 3.14
Cadenas: Hola, mundo!
Lista de n칰meros: [1, 2, 3, 4, 5]
Lista de cadenas: ['manzana', 'banana', 'cereza']
Diccionario: {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}
쮼s mayor de edad? S칤
Puntos en la tupla: (10, 20)
Conjunto de frutas: {'cereza', 'manzana', 'banana'}
Suma de la lista de n칰meros: 15

In [25]:
# Lista de n칰meros que se convertir치 en un array
lista = [1, 2, 3, 4, 5]  # Lista original

# Convertir la lista a un array de NumPy
array = np.array(lista)  # Crear un array a partir de la lista

# Imprimir el array resultante
print("Array de NumPy:", array)

# Operaciones con el array
# 1. Sumar un valor a cada elemento del array
array_sumado = array + 10  # Sumar 10 a cada elemento
print("Array despu칠s de sumar 10:", array_sumado)

# 2. Multiplicar cada elemento del array por un valor
array_multiplicado = array * 2  # Multiplicar por 2
print("Array despu칠s de multiplicar por 2:", array_multiplicado)

# 3. Calcular la media del array
media = np.mean(array)  # Calcular la media
print("Media del array:", media)

# 4. Filtrar elementos mayores que un valor
filtro = array[array > 3]  # Filtrar elementos mayores que 3
print("Elementos del array mayores que 3:", filtro)

# 5. Cambiar la forma del array (reshape)
array_reshaped = array.reshape((5, 1))  # Cambiar la forma del array a una columna
print("Array reshaped (5x1):\n", array_reshaped)

Array de NumPy: [1 2 3 4 5]
Array despu칠s de sumar 10: [11 12 13 14 15]
Array despu칠s de multiplicar por 2: [ 2  4  6  8 10]
Media del array: 3.0
Elementos del array mayores que 3: [4 5]
Array reshaped (5x1):
 [[1]
 [2]
 [3]
 [4]
 [5]]

In [26]:
diccionario1 = {'A':[1,2,3], 'B':[4,5,6], 'C':[7,8,9]}
dataframe1 = pd.DataFrame(diccionario1)

In [27]:
dataframe1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [28]:
diccionario2 = {'A':[11,12,13], 'B':[14,15,16], 'C':[17,18,19]}
dataframe2 = pd.DataFrame(diccionario2)

In [29]:
dataframe2

    A   B   C
0  11  14  17
1  12  15  18
2  13  16  19

In [36]:
diccionario3 = {
    'dias': ["Lunes", "Martes", "Martes", "Lunes", "Miercoles"],
    'numero': [14, 15, 16, 7, 8],
    'tiempo': ["ma침ana", "ma침ana", "ma침ana", "tarde", "tarde"]
}
dataframe3 = pd.DataFrame(diccionario3)

In [37]:
dataframe3

        dias  numero  tiempo
0      Lunes      14  ma침ana
1     Martes      15  ma침ana
2     Martes      16  ma침ana
3      Lunes       7   tarde
4  Miercoles       8   tarde

In [38]:
pd.concat([dataframe1,dataframe2])

    A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
0  11  14  17
1  12  15  18
2  13  16  19

In [39]:
dataframe3.groupby("dias")["numero"].mean()

dias
Lunes        10.5
Martes       15.5
Miercoles     8.0
Name: numero, dtype: float64

### 游닄 Bibliotecas Fundamentales en Python para Ciencia de Datos

- **NumPy**  
  NumPy ofrece un tipo de colecci칩n de datos muy eficiente llamado `array` (o `ndarray`). Este tipo de estructura permite trabajar con vectores y matrices de forma r치pida y optimizada. Es ideal para operaciones matem치ticas y de 치lgebra lineal, estad칤sticas, y transformaciones num칠ricas. Es la base sobre la que se construyen muchas otras bibliotecas cient칤ficas en Python.

- **Pandas**  
  Pandas se apoya internamente en NumPy y proporciona estructuras de datos de m치s alto nivel, especialmente el `DataFrame`, que es una tabla bidimensional similar a una hoja de c치lculo. Esta biblioteca permite cargar, limpiar, transformar, analizar y exportar datos con facilidad. Es una herramienta esencial para el an치lisis y manipulaci칩n de datos en Python.

- **Bibliotecas de visualizaci칩n**  
  Para representar gr치ficamente los datos de forma clara e informativa, se utilizan bibliotecas como:
  - `Matplotlib`: para gr치ficos b치sicos y personalizables (l칤neas, barras, dispersi칩n, etc.).
  - `Seaborn`: construida sobre Matplotlib, permite crear gr치ficos estad칤sticos atractivos con menos c칩digo.
  - `Plotly`: permite generar visualizaciones interactivas 칰tiles en notebooks y dashboards web.

游늷 Estas bibliotecas se usan juntas frecuentemente: NumPy para c치lculos, Pandas para gestionar los datos y bibliotecas de visualizaci칩n para mostrar los resultados de forma efectiva.